<!-- <app-todo-items></app-todo-items> -->

<div *ngIf="todos.length">
	<ul>
        <!-- <li *ngFor="let todo of todos">
            <div *ngIf="todo.complete">{{todo.name}}</div>
        </li> -->
        
        <!-- <li appCrossLine *ngFor="let todo of todos">{{todo.name}}</li> -->

        <div class="addTodo">
            <input #newTodo type="text" placeholder="add new" (keyup.enter)="addTodo(newTodo.value)">
            <button (click)="addTodo(newTodo.value)">Add</button>
        </div>

        <li *ngFor="let todo of todos" [class.completed] = "todo.complete" (click)="toggleComplete(todo.id)">
            {{todo.name}}
            <span class="btnDel" (click)="removeTodo(todo.id)">X</span>
        </li>
        
	</ul>
</div>