<!-- <app-todo-items></app-todo-items> -->

<div *ngIf="todos.length">
	<ul>
        <div class="addTodo">
            <input #newTodo type="text" placeholder="add new" (keyup.enter)="addNewTodo(newTodo.value)">
            <button (click)="addNewTodo(newTodo.value)">Add</button>
        </div>
        <li *ngFor="let todo of todos" [class.completed]="todo.complete" (click)="toggleComplete(0)">
            <div>{{todo.name}}</div><span class="btnDelete" (click)="removeTodo()">X</span>
        </li>
	</ul>
</div>