<!-- <app-add-todo (addTodo)="addTodo($event)"></app-add-todo> -->

<div *ngIf="todos.length; else noTodos">
	<ul>
        
        <li *ngFor="let todo of todos; index as i"
            [class.completed] = "todo.completed">
            
            <app-todo-items
                [todo]="todo"
                (TodoDelEmit)="this.removeTodoList($event)"
                (TodoComplEmit)="this.toggleTodoList($event)"
            ></app-todo-items>

        </li>
        
	</ul>
</div>
<ng-template #noTodos>
    <p>No Todos</p>
</ng-template>