/* div{
    border: 2px solid yellow;
} */

li{
    width: 100%;
    height: 3em;
    line-height: 3em;
    vertical-align: 3em;
    padding-left: 1em;
    box-sizing: border-box;
    clear: both;
    background: #666;
    color: #DDD;
}

li:hover{
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

li:nth-child(2n){
    background: #777;
}

.completed{
    text-decoration: line-through;
    color: green;
}