div{
    /* border: 2px solid blue; */
    position: relative;
    line-height: 6em;
    vertical-align: middle;
}

input{
    width: 98%;
    height: 3em;
    outline: aquamarine;
    /* border: 1px solid red; */
}

input:focus{
    border: 1px solid red;
}

/* .btnAdd:focus{
    box-shadow: 2px 2px 5px 4px #7FDDC4;
}
.btnAdd:hover{
    box-shadow: 2px 2px 5px 4px #7FDDC4;
} */